.Footer {
  color: #ffffff;
  margin-top: 50px;
  padding-top: 50px;
  padding-bottom: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;

  background-color: rgba(0, 0, 0, 0.9);
}

.Footer__Title {
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .Footer {
    background-image: url('/logo-santuarios-text.png');
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 90%;
    background-size: 200px;
  }
}

@media (min-width: 1024px) {
  .Footer {
    background-image: url('/logo-santuarios-text.png'), url('/mountains.png');
    background-repeat: no-repeat;
    background-position-x: right, calc(100% - 150px);
    background-position-y: 90%;
    background-size: 200px, 50%;
  }
}
