@font-face {
  font-family: 'Bank Gothic';
  src: local('BankGothic'),
    url('/fonts/bank_gothic_medium-webfont.woff2') format('woff2'),
    url('/fonts/bank_gothic_medium-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

$headings-font-family: 'Bank Gothic', serif;

@import 'bootstrap/scss/bootstrap';
@import '@fortawesome/fontawesome-svg-core/styles.css';

body {
  background-image: url(/background-xs.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #464646;
}

@include media-breakpoint-up(md) {
  body {
    background-image: url(/background-sm.jpg);
  }
}

@include media-breakpoint-up(lg) {
  body {
    background-image: url(/background-md.jpg);
  }
}

@include media-breakpoint-up(xl) {
  body {
    background-image: url(/background-lg.jpg);
  }
}

.img-responsive {
  width: 100%;
  height: auto;
}
