.Home__Header {
  text-align: center;
  margin: 100px 0;
}

.Home__HeaderTitles {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.Home__HeaderTitle {
  font-size: 2.6rem;
  word-break: break-word;
  text-transform: uppercase;
}

.Home__HeaderDescription {
  font-size: 1.4rem;
}

.Home__Intro {
  margin: 50px 0;
}

.Home__IntroTitle {
  text-transform: uppercase;
}

.Home__Initiatives {
  margin: 50px 0;
}

.Home__InitiativesTitle {
  text-align: center;
  text-transform: uppercase;
}

.Home__InitiativeTitle {
  text-transform: uppercase;
}

.Home__Philosophy {
  margin: 50px 0;
}

.Home__PhilosophyTitle {
  text-transform: uppercase;
}
