.Home__Header {
  text-align: center;
  font-family: serif;
  margin: 100px 0;
}

.Home__HeaderTitles {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

.Home__HeaderTitle {
  font-size: 4rem;
  word-break: break-word;
}

.Home__HeaderDescription {
  font-size: 1.5rem;
}

.Home__Intro {
  margin: 50px 0;
}

.Home__Initiatives {
  margin: 50px 0;
}

.Home__InitiativesTitle {
  text-align: center;
}

.Home__Philosophy {
  margin: 50px 0;
}
